<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/">
    <img src="/logos/logo_light.ico" alt="Logo" />
  </a>

  <!-- toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mycollapse">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="mycollapse">
    <ul class="navbar-nav">
      <!-- settings-->
      <li class="nav-item ml-auto mr-auto">
        <a class="nav-link" href="#">Settings</a>
      </li>

      <!-- main-page -->
      <li class="nav-item ml-auto mr-auto">
        <a class="nav-link" href="#">Main page</a>
      </li>

      <!-- search -->
      <li class="nav-item ml-auto mr-auto">
        <form class="form-inline" action="" id="search-base">
          <div class="input-group">
            <input type="text" class="form-control" id="search-bar" onkeyup="search()" />
            <div class="input-group-prepend">
              <span class="input-group-text" id="search-button" onclick="search()">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        </form>
      </li>

      <!-- random button -->
      <li class="nav-item ml-auto mr-auto" onclick="getRandomPerformer()">
        <a class="nav-link" href="#">Random</a>
      </li>

      <!-- contact -->
      <li class="nav-item ml-auto mr-auto">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
