* {
  transition: 0.2s;
}

a:hover {
  text-decoration: underline !important;
}

/* controls */
button {
  background-color: #1ed760;
}

button:hover {
  background-color: #1ed760;
  transform: scale(1.1);
}

/* selected song */
.fa-circle {
  font-size: 0.3vh;
}

.selected {
  color: #1ed760 !important;
}

/* search bar */
.fa-magnifying-glass {
  background-color: #2d2d30;
}

input {
  background-color: #2d2d30;
}

input:focus {
  background-color: #2d2d30;
}

/* preview */
.fa-check {
  color: #1ed760;
}

.fa-xmark {
  color: red;
}
