<div class="container-fluid">
  <h1 *ngIf="!isSelected" class="p-4 display-1">My Songs</h1>

  <!-- selected song box -->
  <div class="row" *ngIf="isSelected">
    <!-- image box -->
    <div class="col-5 col-md-4 col-lg-3 col-xl-2">
      <img class="img-fluid ps-3 pt-4" src="{{ selectedItem.imageb }}" />
    </div>

    <!-- song box -->
    <div
      class="col-7 col-md-8 col-lg-9 col-xl-10 d-flex justify-content-center flex-column flex-wrap"
    >
      <!-- name -->
      <h1 class="display-3">{{ selectedItem.name }}</h1>

      <!-- artists, fa-circle icon, release, duration paragraph -->
      <p class="d-flex align-items-center justify-content-start">
        <!-- artists -->
        <a
          *ngFor="let artistsId of selectedItem.artistsIds; let i = index"
          href="https://open.spotify.com/artist/{{ artistsId }}"
          target="_blank"
          class="text-white text-decoration-none"
          ><span class="fw-bold">{{ selectedItem.artistsNames[i] }}</span>
          <ng-container *ngIf="i < selectedItem.artistsIds.length - 1"
            >,
          </ng-container>
        </a>

        <!-- fa-circle icon -->
        <span class="fa-solid fa-circle px-2"></span>

        <!-- release -->
        <span [title]="selectedItem.release | date : 'fullDate'">
          {{ selectedItem.release | date : "y" }}</span
        >

        <!-- duration -->
        <span class="fa-solid fa-circle px-2"></span>
        {{ selectedItem.duration | displayDuration }}
      </p>
    </div>
  </div>

  <!-- controls -->
  <div class="row">
    <!-- play/pause button box -->
    <div class="col-auto">
      <!-- play/pause button -->
      <button
        type="button"
        class="btn btn-success m-4 p-4 text-black rounded-circle position-relative"
        (click)="onPlayOrPause()"
      >
        <span
          [ngClass]="!isPlaying ? 'fa-play' : 'fa-pause'"
          class="p-2 text-center fas fs-5 position-absolute top-50 start-50 translate-middle"
        ></span>
      </button>
    </div>

    <!-- search bar box -->
    <div class="col d-flex align-items-center input-group flex-nowrap">
      <!-- magnifying-glass icon -->
      <span
        class="d-flex justify-content-center align-items-center fa-solid fa-magnifying-glass rounded-start-5 p-2 ps-3"
      ></span>

      <!-- search bar -->
      <input
        [(ngModel)]="searchedSong"
        type="text"
        class="form-control shadow-none border-0 rounded-end-5 text-white p-2"
      />
    </div>
  </div>
</div>
