* {
  transition: 0.2s;
}

a:hover {
  text-decoration: underline !important;
}

/* controls */
button {
  background-color: #1ed760;
}

button:hover {
  background-color: #1ed760;
  transform: scale(1.1);
}
