/*
    1rem = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/*** navbar ***/

.navbar {
  border-bottom: 3px solid aqua;
}

.nav-link {
  color: aqua;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: aqua;
  border-bottom: 3px solid aqua;
}

.navbar-brand > img {
  width: 50px;
  height: 50px;
}

.line:nth-child(1) {
  margin-top: 15px;
}

.line {
  width: 50px;
  height: 5px;
  background-color: aqua;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .nav-link {
    margin: 0.5rem 0;
  }
}

/*
#switch-text {
  color: aqua;
  font-size: 18px;
}

.fa-toggle-on,
.fa-toggle-off {
  font-size: 3rem;
  padding-left: 15px;
  color: aqua;
}
*/

#search-base {
  margin: 0 0.5rem;
}

#search-bar {
  background-color: aqua;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: 0;
  transition: 0.3s;
}

#search-bar:focus {
  background-color: black;
  color: aqua;
}

#search-button {
  border: 3px solid aqua;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  background-color: black;
  transition: 0.3s;
}

#search-button:hover {
  background-color: aqua;
}

#search-button:hover .fa-magnifying-glass {
  color: black;
}

.fa-magnifying-glass {
  color: white;
}

/*
#random {
  margin-top: 5.5px;
}

#random > button {
  width: 165px;
  height: 39px;

  padding-top: 0;
  padding-bottom: 0;
  border: 3px solid aqua;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: aqua;
}

#random > button:hover {
  background-color: aqua;
  color: black;
  transition: 0.3s;
}
*/
/*** mycontainer ***/
#choosedPerformer {
  color: aqua;
}

.list-group-item {
  background-color: black;
}

.songs {
  color: aqua;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.songs:hover {
  border-bottom: 3px solid aqua;
}

.songs > a {
  text-decoration: none;
  color: aqua;
}

.mycard {
  height: 200px;
  border: 3px solid aqua;
  border-radius: 0.5rem;
  background-color: black;
  color: aqua;
  transition: 0.3s;
}

.performer {
  display: none;
}

.avatar {
  width: 100px;
  height: 100px;
}

.mycard:hover {
  cursor: pointer;
  box-shadow: 0 0 3vh aqua;
  background-color: aqua;
  color: black;
}

.mycard:hover .avatar {
  display: none;
}

.mycard:hover .performer {
  display: block;
}

/*** footer ***/

#myfooter {
  height: 100px;

  border-top: 3px solid aqua;
  background-color: black;
  color: white;
  font-size: 1rem;
}

#myfooter > p {
  margin-bottom: 0;
}

@media screen and (max-width: 360px) {
  #myfooter {
    height: 70px;
  }
}
