/*** Text selection ***/

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

/*** Scrollbar ***/
::-webkit-scrollbar {
  width: 1rem;
  height: 10rem;
}

::-webkit-scrollbar-track {
  background: aqua; /* track */
}

::-webkit-scrollbar-thumb {
  background: black; /* handle */
}

body {
  background-color: white;
}

/*** navbar ***/

.navbar {
  border-bottom-color: black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
  border-bottom-color: black;
}

.line {
  background-color: black;
}

#search-bar {
  background-color: black;
}

#search-bar:focus {
  background-color: white;
  color: black;
}

#search-button {
  border-color: black;
  background-color: aqua;
}

#search-button:hover {
  background-color: black;
}

.fa-magnifying-glass {
  color: black;
}
#search-button:hover .fa-magnifying-glass {
  color: aqua;
}

/*** mycontainer ***/

#choosedPerformer {
  color: black;
}

.list-group-item {
  background-color: white;
  border-color: white;
}

.songs {
  color: black;
}

.songs:hover {
  border-bottom-color: black;
}

.songs > a {
  color: black;
}

.songs > a::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: aqua;
}

.songs > a::selection {
  color: black;
  background: aqua;
}

.mycard {
  background-color: aqua;
  border-color: black;
  color: black;
}

.mycard:hover {
  box-shadow: 0 0 3vh black;
  background-color: black;
  color: aqua;
}

/*** footer ***/

#myfooter {
  border-top-color: black;
  background-color: white;
  color: black;
}

#myfooter > p::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: aqua;
}

#myfooter > p::selection {
  color: black;
  background: aqua;
}
