<div class="container-fluid">
  <div class="row">
    <!-- side bar -->
    <div class="col-auto">
      <div class="d-flex flex-column align-items-sm-start vh-100">
        <ul class="bg-darkgrey m-2 rounded rounded-3 nav nav-pills flex-column">
          <!-- login -->
          <li class="m-2">
            <a
              routerLink="login"
              class="nav-link text-white opacity-50 fs-5 p-3"
            >
              <i class="pe-sm-3 fa-solid fa-right-to-bracket"></i>
              <span class="d-none d-sm-inline">Login</span>
            </a>
          </li>

          <!-- home -->
          <li class="m-2">
            <a
              routerLink="home"
              class="nav-link text-white opacity-50 fs-5 p-3"
            >
              <i class="pe-sm-3 fa-solid fa-home"></i>
              <span class="d-none d-sm-inline">Home</span>
            </a>
          </li>

          <!-- search -->
          <li class="m-2">
            <a
              routerLink="search"
              class="nav-link text-white opacity-50 fs-5 p-3"
            >
              <i class="pe-sm-3 fa-solid fa-magnifying-glass"></i>
              <span class="d-none d-sm-inline">Search</span>
            </a>
          </li>

          <!-- playlist -->
          <li class="m-2">
            <a
              routerLink="playlist"
              class="nav-link text-white opacity-50 fs-5 p-3"
            >
              <i class="pe-sm-3 fa-solid fa-music"></i>
              <span class="d-none d-sm-inline">Playlist</span>
            </a>
          </li>

          <!-- artists -->
          <li class="m-2">
            <a
              routerLink="artists"
              class="nav-link text-white opacity-50 fs-5 p-3"
            >
              <i class="pe-sm-3 fa-solid fa-guitar"></i>
              <span class="d-none d-sm-inline">Artists</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- opened -->
    <div class="col ms-0 m-2 rounded rounded-3 bg-darkgrey text-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
