<div class="container-fluid">
  <h1 class="ps-4 pt-4 display-1">My Artists</h1>

  <!-- search bar box -->
  <div class="input-group ps-4 pt-2">
    <!-- magnifying-glass icon -->
    <span
      class="d-flex justify-content-center align-items-center fa-solid fa-magnifying-glass rounded-start-5 p-2 ps-3"
    ></span>

    <!-- search bar -->
    <input
      [(ngModel)]="searchedItem"
      type="text"
      class="form-control shadow-none border-0 rounded-end-5 text-white p-2"
    />
  </div>

  <!-- loading spinner -->
  <div class="row d-flex justify-content-center align-items-center">
    <div class="spinner-border p-3" *ngIf="isFetchingArtists"></div>
  </div>

  <!-- artists box -->
  <div
    class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 m-sm-3 m-2"
    *ngIf="!isFetchingArtists"
  >
    <!-- artists -->
    <div class="col" *ngFor="let artist of artists">
      <div
        *ngIf="artist.name.toLowerCase().includes(searchedItem.toLowerCase())"
        class="card rounded-4 p-0"
      >
        <!-- image -->
        <img [src]="artist.imageUrl" class="card-img-top rounded-top-4" />

        <!-- name, followers, popularity box -->
        <div class="card-body p-3">
          <!-- name -->
          <a
            class="card-title text-decoration-none text-white fs-5"
            [href]="artist.spotifyUrl"
            >{{ artist.name }}</a
          >

          <!-- followers -->
          <p class="card-title text-white opacity-75 pt-1">
            Followers
            <span class="fw-bold">{{ artist.followers | division3 }}</span>
          </p>

          <!-- popularity box -->
          <div class="d-flex align-items-center">
            <p class="card-title text-white opacity-75 me-2">Popularity</p>

            <!-- progress bar -->
            <div class="progress bg-white" style="width: 5vh">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="artist.popularity"
                [style.backgroundColor]="artist.popularity | colorPopularity"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ artist.popularity }} %
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- error popup -->
<app-error *ngIf="getError()"></app-error>
