<!-- backdrop -->
<div
  class="backdrop position-fixed top-0 end-0 w-100 h-100 z-50"
  (click)="onClose()"
></div>

<!-- alert-box -->
<div
  class="alert-box bg-white position-fixed rounded-3 d-flex align-items-center w-50 z-100 p-3"
>
  <!-- triangle-exclamation icon  -->
  <span class="fa-solid fa-triangle-exclamation fs-3"></span>

  <!-- error text -->
  <span class="text-black px-3">{{ getError() }}</span>

  <!-- close button -->
  <button
    class="btn-close position-absolute top-0 end-0 m-3"
    (click)="onClose()"
  ></button>
</div>
