<div
  class="container-fluid text-center d-flex h-100 justify-content-center align-items-center flex-column"
>
  <h1 class="display-3">Login to Music Player</h1>

  <!-- login and back button box -->
  <div
    class="d-flex justify-content-center align-items-center flex-wrap flex-column flex-sm-row"
  >
    <!-- login -->
    <button
      type="button"
      class="btn btn-success py-3 px-5 my-3 mx-sm-3 text-black rounded rounded-5"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</div>
