<h1 class="ps-4 py-4 display-1">{{ getGreeting() }}</h1>

<!-- Recommendations - artists -->
<div class="container-fluid">
  <h2 class="ps-4 pt-2 fs-3 text-white">
    Recommended for you - based on the artists
  </h2>

  <!-- Loading spinner -->
  <div class="row d-flex justify-content-center align-items-center">
    <div class="spinner-border p-3" *ngIf="isFetchingRecommendedArtists"></div>
  </div>

  <!-- recommended artists box -->
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 ps-2 pt-2"
    *ngIf="!isFetchingRecommendedArtists"
  ></div>
</div>
