<div class="container-fluid">
  <h1 class="ps-4 pt-4 display-1">Search</h1>

  <!-- searchbar box-->
  <div class="input-group ps-4 pt-2">
    <!-- magnifying-glass icon -->
    <span
      class="d-flex justify-content-center align-items-center fa-solid fa-magnifying-glass rounded-start-5 p-2 ps-3"
    ></span>

    <!-- search bar -->
    <input
      [(ngModel)]="query"
      (input)="searchArtists()"
      type="text"
      class="form-control shadow-none border-0 rounded-end-5 text-white p-2"
    />
  </div>

  <!-- Result box -->
  <div
    *ngIf="data && query"
    class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 m-3"
  >
    <div *ngFor="let item of data.tracks.items" class="col">
      <div class="card p-0 rounded-4 text-white">
        <div class="row">
          <!-- image -->
          <img
            src="{{ item.album.images[1].url }}"
            class="img-fluid col-12 col-sm-5"
          />

          <!-- song name, artists, release box -->
          <div class="col-12 col-sm-7">
            <div class="card-body">
              <!-- song name -->
              <h3 class="card-title">{{ item.name }}</h3>

              <!-- artists -->
              <span
                *ngFor="let artist of item.album.artists; let lastArtist = last"
                class="card-title"
              >
                {{ artist.name }}{{ !lastArtist ? ", " : "" }}
              </span>

              <!-- release -->
              <p class="card-text">
                <small>{{ item.album.release_date | date : "y" }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
