<div class="container-fluid">
  <h1 class="ps-4 pt-4 display-1">Search</h1>

  <!-- searchbar box-->
  <div class="input-group ps-4 pt-2">
    <!-- magnifying-glass icon -->
    <span
      class="d-flex justify-content-center align-items-center fa-solid fa-magnifying-glass rounded-start-5 p-2 ps-3"
    ></span>

    <!-- search bar -->
    <input
      [(ngModel)]="query"
      (input)="searchArtists()"
      type="text"
      class="form-control shadow-none border-0 rounded-end-5 text-white p-2"
    />
  </div>

  <!-- Result box -->
  <div
    *ngIf="data && query"
    class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 m-3"
  ></div>
</div>
